[2013-11-28 22:16] TheCoder4eu opened #1 "Temporary fix for modal until Bootstrap fix in v3.2"
Modal component has a known bug when browser scrollbars are visible
(modal is shifting body content to the left when is open).
See https://github.com/twbs/bootstrap/issues/9855 for details.
Integrate in Bootsfaces the fix from

http://jschr.github.io/bootstrap-modal/

until the official fix scheduled for Bootstrap release v3.0.3

[2013-12-07 13:16] TheCoder4eu commented on #1
The Bootstrap team released v3.0.3 but the issue 9855 has been re-scheduled for v3.1.0, that could take time to release.

We upgrade the framework to Bootstrap v3.0.3 and apply the temporary fix if it still solves the issue.

[2013-12-07 13:18] TheCoder4eu opened #2 "Upgrade to Bootstrap v3.0.3"
Bootstrap 3.0.3 has been released.

Upgrade the framework to use the new version.

[2013-12-10 08:32] TheCoder4eu commented on #2
Applied the new version of Bootstrap, tests are fine.

[2013-12-10 08:32] #2 closed, assigned to TheCoder4eu

[2013-12-10 08:33] TheCoder4eu opened #3 "QA and prepare the new release"

[2013-12-10 08:35] TheCoder4eu commented on #1
The demo is on Bootstrap 3.0.0.
Tried to apply CSS and the js, but it seems not to solve the problems in particular in Chrome and on Bootstrap 3.0.2+ .
It's preferable to wait for the official solution.

[2013-12-14 09:47] TheCoder4eu commented on #1
and assigning to next milestone

[2013-12-14 10:21] TheCoder4eu commented on #3
New dist jar produced.
QA testing OK.

[2013-12-14 10:21] #3 closed, assigned to TheCoder4eu

[2014-01-05 10:12] TheCoder4eu commented on #1
Assigned to next milestone

[2014-01-05 10:14] TheCoder4eu opened #4 "Add ButtonGroup Component"
Started work to add the new ButtonGroup Component, that allows to group together a set of Buttons or CommandButtons.

[2014-01-05 10:15] TheCoder4eu commented on #4
wip

[2014-01-05 10:17] TheCoder4eu opened #5 "Add ButtonToolbar Component"
Started work to add the new ButtonToolbar Component, that allows to group together a set of ButtonGroups to obtain a Toolbar.

[2014-01-05 10:17] TheCoder4eu commented on #5
wip

[2014-01-05 11:16] TheCoder4eu commented on #4
testing

[2014-01-05 11:16] TheCoder4eu commented on #5
testing

[2014-01-05 14:30] TheCoder4eu commented on #5
Writing documentation.

[2014-01-05 14:30] TheCoder4eu commented on #4
Writing documentation.

[2014-01-05 15:27] TheCoder4eu commented on #4
Tasks complete.

[2014-01-05 15:27] #4 closed, assigned to TheCoder4eu

[2014-01-05 15:27] TheCoder4eu commented on #5
Tasks complete.

[2014-01-05 15:27] #5 closed, assigned to TheCoder4eu

[2014-01-17 07:40] TheCoder4eu opened #6 "Upgrade the framework to Bootstrap v3.1.0"
Upgrade the framework to Bootstrap v3.1.0 as soon as it is released.

[2014-01-17 07:44] TheCoder4eu opened #7 "Modularization Phase 2"
## Modularization Phase 2

Components should load only their specific css and JS.
Core CSS and JS is always included in the pages.

[2014-01-17 07:53] TheCoder4eu opened #8 "First version of Customizer"
## First version of Customizer

The first version of the customizer will let users to create a custom build  where they choose the components to include and eventually tweak some parameters.

This will give us a huge advantage on other JSF Frameworks, in particular PrimeFaces that rely only on jQuery themeroller, but include hundreds of more or less useful components, leading to a very large libra

[2014-01-30 18:40] TheCoder4eu commented on #6
Bootstrap v3.1.0 has just been released, upgrade of BootsFaces to this new version is in progress.

[2014-01-30 18:41] TheCoder4eu opened #9 "Upgrade jQuery to 1.11.0"
jQuery 1.11.0 is out, upgrade Bootsfaces to this new version.

[2014-01-30 23:33] TheCoder4eu commented on #1
Postponed to Bootstrap 3.1.1 (hopefully).

[2014-01-30 23:34] TheCoder4eu commented on #1
Assigned to next milestone

[2014-01-30 23:35] TheCoder4eu commented on #9
Upgrade complete, tests OK

[2014-01-30 23:35] #9 closed, assigned to TheCoder4eu

[2014-01-30 23:36] TheCoder4eu commented on #6
Upgraded the framework to the new version of Bootstrap.
Tests are OK (besides a silly td, th padding: 0 rule ).

[2014-01-30 23:36] #6 closed, assigned to TheCoder4eu

[2014-02-13 19:00] TheCoder4eu opened #10 "Upgrade the framework to Bootstrap v3.1.1"
Upgrade BootsFaces to Bootstrap v3.1.1 .

[2014-02-14 18:49] TheCoder4eu commented on #10
QA tests successful, everything is working as expected.

[2014-02-14 18:49] #10 closed, assigned to TheCoder4eu

[2014-03-01 18:29] TheCoder4eu commented on #7
Created Workflow for generating Modular CSS and JS.
Updated Framework Classes to handle new resouces loading.
Testing and QA in progress.

[2014-03-02 14:17] TheCoder4eu commented on #7
QA and tests are OK. Ready to publish.

[2014-03-02 14:29] TheCoder4eu commented on #7
## CORE TAGS

[code]

## Bootstrap TAGS

[code]

## jQuery UI TAGS

[code]

[2014-03-02 14:29] #7 closed, assigned to TheCoder4eu

[2014-03-13 22:23] TheCoder4eu opened #11 "Add Thumbnail Component"
Add the Thumbnail Component to the framework.

[2014-03-13 22:23] TheCoder4eu commented on #11
Work is in progress.

[2014-03-14 07:33] TheCoder4eu commented on #11
Component complete.
Tests are in progress.

[2014-03-25 20:22] bjornbak opened #12 "Menus doesn't in phone mode"
Interesting project - exactly what I've been looking for!

But browsing around on www.bootsfaces.net it turns out the menus doesn't work in phone mode. When I press the "burger" button it gets a pressed look but nothing happens.

Tested in desktop + Android chromes.

[2014-03-25 20:29] TheCoder4eu commented on #12
Thank you bjornbak, I didn't notice it, I think since the release of the last version which introduced deep modularization of css and js something is missing, causing the burger buttons not to work anymore.
I am investigating an I'll keep you posted!

[2014-03-26 00:24] TheCoder4eu commented on #11
Component is ready for release

[2014-03-26 00:24] #11 closed, assigned to TheCoder4eu

[2014-03-26 18:25] TheCoder4eu commented on #12
I found the problem. in fact there was a dependency of the NavBar component from collapse.js that I missed. I am preparing to release a new version with the fix and the Thumbnail component.

[2014-03-26 18:25] #12 closed, assigned to TheCoder4eu

[2014-03-29 14:49] TheCoder4eu commented on #1
Bootstrap issue 9855 ha been closed and the solution is ready to ship for v 3.2.0 !

[2014-05-02 12:57] jlsheehan opened #13 "Some Faces Servlet URL patterns cause resources not to be found"
Superb project, I would like to help if you ever want to provide the source code.

In my web.xml file if I put the faces servlet URL mapping like this:

[code]

the ".jsf" gets appended to resource requests and glyphicons cannot be found.

If I copy what you have done on your site then I do this:

[code]

and it all works because the resource suffix is not changed.

Its not a deal breaker I mainly

[2014-05-03 08:38] passgca opened #14 "Slider is too small in the mobile to operate."
I am really impressed with BootsFaces.
Any way of controlling the size of the slider . I am unable to use it in a 6 inches mobile phone as it is very very small.

[2014-05-04 15:11] TheCoder4eu commented on #14
Hi, nice to hear that you like this project!
Thank you for reporting this, I'll check it on some mobile and investigate for a solution. You have a problem with the handle I suppose...

[2014-05-04 15:22] TheCoder4eu commented on #13
Hi Jeff,
it's nice to hear that you like BootsFaces!
I appreciate very much your interest in contributing to the project, the the codebase is under revision by now, but I'll release it once it is more stable.
Meanwhile any feedback and contribution like yours is very helpul: I was aware of this issue and I was looking for the best solution.
However I didn't stumble on the StackOverflow page you sh

[2014-05-08 07:02] TheCoder4eu opened #15 "Upgrade jQuery to 1.11.1"
Upgrade jQuery to 1.11.1

[2014-05-08 07:05] TheCoder4eu commented on #8
The customizer has been released.
It allows users to create a custom build where they choose the components to include and eventually customize the basic aspects of Bootstrap.

[2014-05-08 07:05] #8 closed, assigned to TheCoder4eu

[2014-06-11 13:53] mattocchi opened #17 "Source Code in Repo"
Hi BootsFaces, is possibile to access your source code, I can't see it on github? I'd like to show it, start using and help you to improve, if I'm able.

[2014-06-11 16:34] stephanrauh commented on #17
Hi Mirko,

I'm the author of AngularFaces, not of BootsFaces :). Did Mr. or Mrs. Bootsfaces already answer you? As it happens, I managed to contact them today, so I may be able to forwards your request.

BTW, you'll love AngularFaces, too :).

Best regards,
Stephan

[2014-06-12 07:02] TheCoder4eu commented on #17
Hi Mirko,
thank you for your offer to help.
BootsFaces code is still in a stage where there could be heavy refactorings since there are some guideline decisions to take.
For this reason, I will release the code on Github once the codebase will be stable so that everyone can contribute to it without becoming crazy ;-)
However if you wish, I can send/share you a copy of the source code.
Kind Regards

[2014-06-13 18:22] fsantannadi opened #18 "Icons do not appear"
Hello, first congratulations on your initiative to create this project, is excellent.
I'm having problems when trying to use the tag "icon" for its framework. The icons do not appear, and in their place appears one square with their numbering. It is as if the icon was not interpreted.
Well, the only icons that appear are the first six
glyphicon-asterisk glyphicon
glyphicon-plus glyphicon
glyphicon

[2014-06-15 18:12] TheCoder4eu commented on #18
Hi, It could depend on how you configured your project: please read this issue: https://github.com/TheCoder4eu/BootsFaces/issues/13 and check if your setup is similar.

[2014-06-19 19:19] fsantannadi commented on #18
Thank you worked perfectly

[2014-06-19 19:19] #18 closed, assigned to nobody

[2014-06-19 19:24] fsantannadi opened #19 "Calling a modal"
Actually it's not a problem, but I'm not knowing which attribute to use within a button to call a modal. In the example on the site does not tell you that. could help me?

[2014-06-19 21:01] TheCoder4eu commented on #19
Hi, perhaps you missed this page in the doc:
http://www.bootsfaces.net/page/bootstrap/modal.xhtml

It's in the Bootsrap widgets section.
Or you do not display the page correctly? In that case, what browser are you using?

[2014-06-19 21:37] fsantannadi commented on #19
I'm using chrome....
Sorry for my ignorance, but I had seen this page modal.xhtml, but not found a way to call the modal in a button attribute ... I believe that I can only call a modal in a link attribute like <a href ="#nameofmodal" ??? is that right? Thanks and congratulations for the work.

[2014-06-21 12:52] TheCoder4eu commented on #19
Hi, in the modal page you are right, there is some information missing.
If your purpose is just triggering a modal, then actually you have to use an attribute href ="#nameofmodal" plus an additional data-toggle="modal" attribute.
You can see it in the source of the page here: https://github.com/TheCoder4eu/BootsFacesWeb/blob/master/web/bootstrap/modal.xhtml
On the other hand, if you need an action

[2014-06-21 13:11] fsantannadi commented on #19
It sure helped me a lot. Thank you for the clarification. And once again congratulations for the good work

[2014-06-21 13:11] #19 closed, assigned to nobody

[2014-06-21 21:56] TheCoder4eu commented on #19
Thank you, nice to know you like this project!

[2014-06-26 19:15] fsantannadi opened #20 "commandButtom inside facet footer modal"
I do not know if this is exactly the problem, but "b: commandbutton" does not work when it is inside the footer of any modal.
Can you check?

[2014-07-08 07:24] TheCoder4eu commented on #15
Done

[2014-07-08 07:24] #15 closed, assigned to TheCoder4eu

[2014-07-08 07:29] TheCoder4eu commented on #14
I am working on it, in the next release you will have two larger sizes (md and lg) for the handle and the possibility to turn the handle round as well.

[2014-07-08 07:30] TheCoder4eu commented on #1
Included Bootstrap 3.2.0 in this release. Modal issue s gone.

[2014-07-08 07:30] #1 closed, assigned to TheCoder4eu

[2014-07-12 08:06] TheCoder4eu opened #21 "Upgrade the framework to Bootstrap v3.2.0"
Upgrade the framework to Bootstrap v3.2.0

[2014-07-12 08:07] TheCoder4eu commented on #21
Work is in progress

[2014-07-12 08:10] TheCoder4eu commented on #14
Testing with Bootstrap 3.2.0

[2014-07-12 09:13] TheCoder4eu commented on #21
Test in progress

[2014-07-12 13:06] TheCoder4eu commented on #14
Tests OK.
Documentation updated to include the new features.

[2014-07-12 13:06] #14 closed, assigned to TheCoder4eu

[2014-07-12 13:07] TheCoder4eu commented on #21
Tests OK.

[2014-07-12 14:21] #21 closed, assigned to TheCoder4eu

[2014-09-11 15:02] mortensen opened #22 "No table support yet"
Hi Riccardo.

Unfortunatelly I wasn´t able to find any possibility to contact you. Neither on your homepage nor here in GitHub (except a Twitter account, which I don´t have yet). Are there plans for table support in the near soon? Like this here: http://getbootstrap.com/examples/dashboard/. Would be REALLY cool and I am deeply in the need of it. Are you still developing BootsFaces?

Best regards.

[2014-09-13 09:39] benjmaz commented on #17
Hi Mirko,

I have been checking for bootsfaces source code, however, I don't seem to find it.

My many intention was to probably extend the functionality by adding accordion and tabs.

Is it possible to share the code so that we can extend the ui components?

Your response will be appreciated

Regards
Ben

[2014-09-13 16:18] TheCoder4eu commented on #22
Hi Frederik,
well you are already contacting me on Github(and Twitter), unless you are asking me for my personal email.
My apologies for not answering you quickly but I came back from my vacations and had to do a little "housekeeping" at work.
Ok, coming back to this issue I do not understand your problem:
if you use at least one BootsFaces component in your page (and you should do), core.css shou

[2014-09-14 21:32] TheCoder4eu commented on #22
As an added Bonus I will add to the examples the dasboard example in the next release.

[2014-09-14 21:45] TheCoder4eu commented on #17
Hi all and thank you for your interest in Bootsfaces!
When I'll work on the next release I'll take my time and I'll clean out the code and start publishing it on Github.
My hope is that this will let the framework evolve at a quicker pace with the community contribution, as well as leave me more time to spend on another project I am working to.

[2014-09-16 09:11] mortensen commented on #22
Hi Riccardo.

Big big thanks for your fast answer, the html example and your example works for the next release! I will try it these days and definitely come back to you with a success / failed status update! ;) And if you like to, you can add an "About me" page to your site http://www.thecoder4.eu/ so that people can get in touch with you via email. But githup also does its job, thanks again!

Be

[2014-09-16 16:08] mortensen commented on #22
Unfortunatelly I couldnt find a way to paste formatted code in here. So I hope you dont mind my pastebin link:

http://pastebin.com/bZbZzDUB

If I compare this example and the example http://getbootstrap.com/examples/dashboard/ on my mobile phone, I can definitely see a difference. I can see that bootstrap changes my page and that the table is getting somehow formatted (borders are slightly differ

[2014-09-16 21:22] TheCoder4eu commented on #22
The example uses a responsive table, have a look at the Bootstrap docs here:
http://getbootstrap.com/css/#tables-responsive

Until there will not be a tabular component in Bootsfaces, you have to manually surround the
h:dataTable tag with a div like in the following example:

[code]

I have plans to revise the Thecoder4eu page, I just miss the time.

[2014-09-22 17:13] mortensen commented on #22
Hi again.

First of all thank you again for your help! I finally made it with your tipps and reading the documentation a little more. It seems there are several lines you need:
- Import: xmlns:b="http://bootsfaces.net/ui"
- Meta-Tag: `<meta name="viewport" content="width=device-width, initial-scale=1" />`
- Container: `<b:container>`
- Div-Class: `<div class="table-responsive">`
- Styleclass: clas

[2014-09-22 17:13] #22 closed, assigned to TheCoder4eu

[2014-09-22 19:35] TheCoder4eu opened #23 "Change License to GPLv3"
Change License to GPLv3 to prepare for contribution of BootsFaces Community

[2014-09-22 19:36] TheCoder4eu opened #24 "Prepare the new Repo"
Prepare the Open Source Repo for the contributors (GPLv3 license)

[2014-09-22 19:40] TheCoder4eu opened #25 "Prepare for code freeze."
A) Clean up code
~~B) revise ant script to be published for contributors.~~
C) Add comments on every file with Original Author/License information
D) Update Bootstrap / JS libraries to their latest version
E) Add latest features/optimization
F) Test for public release

[2014-09-22 21:54] TheCoder4eu opened #26 "Commit this version in new Repository"
Commit this version in the new Repository.

[2014-09-22 21:59] TheCoder4eu commented on #22
Have a look to my profile on github, now you will find how to contact me.

[2014-09-22 22:09] TheCoder4eu commented on #17
## UPDATE

Hi, have a look to my plans to release BootsFaces Source in [Milestone v0.5.0](https://github.com/TheCoder4eu/BootsFaces/milestones/v0.5.0) .

[2014-09-23 08:04] lelenoce commented on #24
I would like to give a contribute for this project.

[2014-09-23 15:56] lelenoce commented on #17
Hi Riccardo,
I'm Emanuele, i would like to give a contribute to write some components.

My contact skype is : emanuele.nocentelli

Best Regards
Emanuele

[2014-09-23 16:11] lelenoce opened #27 "Improve tag <b: column>"
In accordance with the rules of bootstrap I suggest to add this simple condition to tag <b:column>

if one of column will declared with size 0 we should apply the rule hidden-xx.
Follow an example to clarify :

[code]

Should became :

[code]

![schermata da 2014-09-23 18 02 04](https://cloud.githubusercontent.com/assets/5601887/4375377/b8e77af8-433b-11e4-9745-8ccc1ec5f78b.png)

[2014-09-23 16:55] lelenoce opened #28 "Improve prepend facets to work with font-awsome"
We would like to generate this syntax ( with font awsome ), the result has display in file attachment :

[code]

Should be defined by :

[code]

But the output generated is :

[code]

Missed the " div " tag with style " input-group-addon " before " i " tag.

![schermata da 2014-09-23 18 55 31](https://cloud.githubusercontent.com/assets/5601887/4376110/7436ebb2-4342-11e4-84fa-f0a6d4fb4a12.png)

[2014-09-23 17:37] TheCoder4eu commented on #17
Hi, nice that you want to contribute! :-)
I'll keep in touch with you.

[2014-09-23 17:39] TheCoder4eu commented on #28
Yes I thinked adding Fonts Awesome support :+1:

[2014-09-25 07:27] tejacodebase opened #29 "Change b:datepicker date format"
< b:datepicker id="journeyDate" placeholder="Journey Date"
              value="#{openSearchController.otRouteBean.toTime}"/>
The default date format date is mm/dd/yyyy.

I want to change it to dd/mm/yyyy.

I have used this JS. But no use.

< script>
     $('.datepicker').datepicker({
    format: 'dd/mm/yyyy'
     });
< /script>

[2014-09-25 08:51] passgca opened #30 "Date picker issue"
how to change the format of the date picker

[2014-09-28 12:50] TheCoder4eu opened #31 "Revise the build script for public release and contribution."
Revise the build script to make it suitable for public release and contribution.

[2014-09-28 12:50] TheCoder4eu commented on #31
In progress

[2014-09-28 12:59] TheCoder4eu commented on #25
Converted B) revise ant script to be published for contributors. to Issue #31 .

[2014-10-02 22:12] TheCoder4eu commented on #31
Testing...

[2014-10-06 13:55] TheCoder4eu commented on #31
Validating the build system against previous release and on more systems.

[2014-10-06 13:57] TheCoder4eu commented on #25
A) C) E) in progress.

[2014-10-06 14:02] TheCoder4eu commented on #24
Created the new Repository:
https://github.com/TheCoder4eu/BootsFaces-OSP

[2014-10-06 14:02] #24 closed, assigned to TheCoder4eu

[2014-10-06 14:08] TheCoder4eu commented on #23
License added to the repository (needs editing).
License is being added to the header of project files.

[2014-10-06 14:08] #23 closed, assigned to TheCoder4eu

[2014-10-19 13:01] TheCoder4eu commented on #29
Hi, sorry for not answering quickly but the team is working on the first opensource release of this library.
Bootsfaces supports this, unfortunately we missed to document it.
If you head to the datepicker page:http://www.bootsfaces.net/page/jquery-ui/datepicker.xhtml

and try the last example picking three dates and submitting you will get:

Date:   23/10/2014  converted with <f:convertDateTime pa

[2014-10-19 13:01] TheCoder4eu commented on #29
Leaving issue open to remember to document well date conversion.

[2014-10-19 13:04] TheCoder4eu commented on #30
Please see answer to issue #29 .

[2014-10-19 13:04] #30 closed, assigned to TheCoder4eu

[2014-10-21 07:15] TheCoder4eu commented on #13
Hi Jeff,
after some experiments to check for a simpler solution, I am testing the Stackoverflow hint.
This solution is from BalusC which I know to be a very reliable source of solutions with regard to JEE/JSF.

I think the best is to leave this kind of config optional, so the developer can activate it if needed.

In practice the need arises if you need to add a suffix to your pages and/or have "_.

[2014-10-21 07:17] TheCoder4eu commented on #13
Thanks, this project is going to be released Opensource in the next few days.

"Superb project, I would like to help if you ever want to provide the source code."

[2014-10-25 19:24] razvan100 opened #32 "InputSecret"
Hi,

  I just started to use this framework and didn't find any reference for a password field. Is it implemented? Ifnot how can I get the source-code? All I found in the repository were some readme files.

Thanks,
Razvan

[2014-10-27 20:20] TheCoder4eu commented on #32
Hi,
it should suffice to use a:

[code]

tag in a h:form tag, the core css should take care of the rest...

The source code is going to be publisher in few days...
Regards

[2014-10-27 20:20] #32 closed, assigned to TheCoder4eu

[2014-10-28 08:22] TheCoder4eu commented on #13
Testing.

[2014-10-28 08:25] TheCoder4eu opened #33 "Upgrade jQuery UI to 1.11.2"
jQuery UI 1.11.2 supports better the localization.

[2014-10-28 08:25] TheCoder4eu commented on #33
Testing.

[2014-10-28 08:34] jlsheehan commented on #13
K

Sent from my iPhone

[2014-10-31 07:55] TheCoder4eu commented on #25
A) C) E) F) Completed.

[2014-10-31 07:55] #25 closed, assigned to TheCoder4eu

[2014-10-31 07:56] #31 closed, assigned to TheCoder4eu

[2014-10-31 07:56] TheCoder4eu commented on #33
Done.

[2014-10-31 07:56] #33 closed, assigned to TheCoder4eu

[2014-10-31 08:00] TheCoder4eu commented on #29
The date Format as presented by the widget is driven by the locale.

[2014-10-31 22:26] #13 closed, assigned to TheCoder4eu

[2014-10-31 22:36] #29 closed, assigned to TheCoder4eu

[2014-10-31 22:37] TheCoder4eu commented on #26
Source code committed, building release

[2014-10-31 22:37] #26 closed, assigned to TheCoder4eu

[2014-10-31 22:40] TheCoder4eu commented on #17
## UPDATE

Hi, have a look to the new repository, where the team has published the source for v0.5.0! :-)

https://github.com/TheCoder4eu/BootsFaces-OSP

[2014-10-31 22:40] #17 closed, assigned to nobody

[2014-11-05 17:41] benjmaz commented on #17
Thanks for the source code. I will check it out and see how I can participate

On Saturday, November 1, 2014 12:40 AM, TheCoder4eu notifications@github.com wrote:

Closed #17.
—
Reply to this email directly or view it on GitHub.

[2014-11-08 17:56] lelenoce opened #34 "b:inputText bugs on render"
There are some bugs with default attribute of maxlenght and size.
Look an example :

[code]

On render view

[code]

Look the attributes **size="-2147483648" maxlength="-2147483648"**

[2014-11-08 19:05] stephanrauh commented on #34
Reactivating the line

[code]

in line 313 of R.java would fix the bug. Why has it been commented?

[2014-11-19 16:05] guerinorodella opened #35 "CSS class seems doesn't works"
Hi everybody!

I just started using Bootsfaces and think this is a great component for JSF, congratullations!

Well.. I'm having a bit of incovenience when I tryed to use my own class inside a button. It seems my CSS class it's not seted up. Here goes my code:

CSS File:

[code]

And here follows my commandline:

[code]

It doesn't works for tag `<b:inputText>`too. What I'm doing wrong?
Thanks.

[2014-11-23 13:53] TheCoder4eu opened #36 "Please open new issues on https://github.com/TheCoder4eu/BootsFaces-OSP"
This is the OLD project.
Since the Open Source release, the Project continues on a new repository.

Please open new issues on https://github.com/TheCoder4eu/BootsFaces-OSP

Thank you!

[2014-11-23 14:09] TheCoder4eu commented on #27
Tranfered to issue https://github.com/TheCoder4eu/BootsFaces-OSP/issues/21 .

[2014-11-23 14:09] #27 closed, assigned to nobody

[2014-11-23 14:38] TheCoder4eu commented on #34
Moved to https://github.com/TheCoder4eu/BootsFaces-OSP/issues/7

and

https://github.com/TheCoder4eu/BootsFaces-OSP/issues/22 (duplicate)

[2014-11-23 14:38] #34 closed, assigned to nobody

[2014-11-23 15:30] TheCoder4eu commented on #20
Hi if you are still having problems with that please reopen this issue in the new repository:

https://github.com/TheCoder4eu/BootsFaces-OSP

Thank you.

[2014-11-23 15:30] #20 closed, assigned to nobody

[2014-11-23 15:36] TheCoder4eu commented on #28
Moved this Issue to the new repository in https://github.com/TheCoder4eu/BootsFaces-OSP/issues/23 .

[2014-11-23 15:36] #28 closed, assigned to nobody

[2014-11-23 15:42] TheCoder4eu commented on #35
Hi, it's nice to hear you like this project.

I moved this issue here https://github.com/TheCoder4eu/BootsFaces-OSP/issues/24 on the new repository.

[2014-11-23 15:42] #35 closed, assigned to nobody

[2015-01-04 00:40] floppy-22 commented on #18
Hi,

First at all, I like your project so much ! A really great and beautiful job.

I did the same things as indicated by the #13 issue but my glyphicons are always represented by a square (but not the first six).

Here the last lines of my web.xml :

[code]

</web-app>

I've tried many combinations but result is always the same.

Can you help me ?

Great thanks

[2015-01-04 11:28] stephanrauh commented on #18
Hi Floppy,

I suppose the javax.faces.resources entry is missing. Here's the servlet mapping of http://www.bootsfaces.net:

[code]

BTW; in general I suggest to use one URL pattern. Leaving out *.xhtml enables you to view the source code of a JSF page in a browser, which comes in handy every once in a while. BootsFaces requires the second entry (javax.faces.resource) to display the glyphicons and

[2015-01-04 21:12] oliverkroener commented on #18
ahh what sit that?

oliver

On 04.01.2015 12:28, Stephan Rauh wrote:

##

---

esk360
Dipl.-Inf. Oliver Kröner, MBA
Ziegelei 5
73765 Neuhausen a.d.F.

Die in dieser Nachricht enthaltene Auskunft ist vertraulich und kann dem Berufsgeheimnis unterliegen. Sie ist ausschließlich für den Adressaten bestimmt. Jeglicher Zugriff auf diese e-mail durch andere Personen als den Adressaten, ist untersagt. Sol

[2015-01-04 21:31] stephanrauh commented on #18
Oliver,

I don't get your question. Would you mind to elaborate, please?

CU
Stephan

[2015-01-05 17:31] floppy-22 commented on #18
Stephan,

I've added the /javax.faces.resource/\* entry and it works like a charm now.
I will follow your advice about the use of one url-pattern.

Thank you for your help

[2015-01-05 17:47] oliverkroener commented on #18
stephan,

which question?

cu

oliver

Am 04.01.2015 um 22:31 schrieb Stephan Rauh:

##

---

esk360
Dipl.-Inf. Oliver Kröner, MBA
Ziegelei 5
73765 Neuhausen a.d.F.

Mobil: +49.1575.4269584

Die in dieser Nachricht enthaltene Auskunft ist vertraulich und kann dem
Berufsgeheimnis unterliegen. Sie ist ausschließlich für den Adressaten
bestimmt. Jeglicher Zugriff auf diese e-mail durch andere Persone

[2015-01-10 18:38] stephanrauh commented on #18
Hi Oliver,

I was referring to your "ahh what sit that?".

CU
Stephan

[2015-01-10 20:03] oliverkroener commented on #18
uupps ... cant remember ...

On 10.01.2015 19:38, Stephan Rauh wrote:

##

---

esk360
Dipl.-Inf. Oliver Kröner, MBA
Ziegelei 5
73765 Neuhausen a.d.F.

Die in dieser Nachricht enthaltene Auskunft ist vertraulich und kann dem Berufsgeheimnis unterliegen. Sie ist ausschließlich für den Adressaten bestimmt. Jeglicher Zugriff auf diese e-mail durch andere Personen als den Adressaten, ist untersagt. So

[2015-07-07 12:29] francis-free opened #37 "Getting java.lang.ClassCastException: net.bootsfaces.component.InputText cannot be cast to net.bootsfaces.component.inputText.InputText"
Am Using Java 1.7u51 and Wildfly 8.1.0 and am getting this error
java.lang.ClassCastException: net.bootsfaces.component.InputText cannot be cast to net.bootsfaces.component.inputText.InputText
	at net.bootsfaces.component.inputText.InputTextRenderer.encodeEnd(InputTextRenderer.java:104)
	at javax.faces.component.UIComponentBase.encodeEnd(UIComponentBase.java:919)
	at javax.faces.component.UICompon

[2015-07-07 16:18] stephanrauh commented on #37
I moved the ticket to the new bugtracker at https://github.com/TheCoder4eu/BootsFaces-OSP/issues/125.

[2015-07-11 14:35] stephanrauh commented on #37
@francis-free Did you manage to solve the bug? If I don't hear from you, I'll close the ticket.

[2015-07-13 09:41] jottyfan opened #38 "Bug on b:panel collapsible=true"
regarding bootsfaces 0.7.0 from maven central repository

on using tag from the collapsible=true configuration. This comes up by myfaces in a warning: HTML nesting warning on closing a: element h4 rendered by component...

Solution: fix render closing a tag only when collapsible != false

[2015-07-19 15:24] #37 closed

[2015-07-19 15:38] TheCoder4eu commented on #38
I close this one, already taken care here:
https://github.com/TheCoder4eu/BootsFaces-OSP/issues/126

[2015-07-19 15:38] #38 closed

[2015-09-23 18:47] andrespineda23 opened #39 "DatePicker Disabled"
how to change the disabled of the date picker? Thanks.

[2015-09-25 06:28] TheCoder4eu commented on #39
Hi, looks like you filed the issue to the wrong project, we changed repository, the right one is
https://github.com/TheCoder4eu/BootsFaces-OSP

I also did not understand well what you are trying to obtain, can you elaborate when you open the issue on the other repository?
Thanks!

[2015-09-25 06:28] #39 closed

[2015-11-08 19:48] karlapdiaz commented on #36
in my proyect of primefaces not find bootsfaces.net/ui, don't find the library and consulting the url, the page says Not Found. what can I do for integrate bootstrap with primefaces?

[2015-11-08 20:01] stephanrauh commented on #36
Como Riccardo ha dicho antes, éste es es repositorio viejo :).

¿Usas Spring Boot en tú proyecto? JSF no es compatible con Spring Boot (http://www.beyondjava.net/blog/updating-to-mojarra-2-2-11-may-break-your-spring-boot-application/).

[2015-11-10 21:45] stephanrauh commented on #36
Karla, did you have any progress? Please report back if you did. You also might be interested in this StackOverflow question: http://stackoverflow.com/questions/32799225/javax-faces-facesexception-expression-error-named-object-net-bootsfaces-layou

[2015-11-11 04:39] karlapdiaz commented on #36
I solved it, the jar bootsfaces wasn't exist in the proyect .Thank you

[2015-11-26 04:05] karlapdiaz opened #40 "How make a button that update 2 or more forms?"
How make a button that update 2 or more forms????

[2015-11-26 19:26] stephanrauh commented on #40
From a technical point of view, I'm sure you can do the same with BootsFaces 0.8.0 and above. We  support the `update="@(.mystyle)"` syntax, too.

However, you should be aware you're using a feature that's not supported by HTML. Even worse, you're using a feature that's forbidden by the HTML specification. HTML doesn't allow you to submit multiple forms with a single click. So you build your appli

[2015-11-27 20:47] Kristover opened #41 "no refresh for b:tab against p:tab with p:gmap"
Hi,
i encounter a problem with a distinctive comportment between p:tab and b:tab when it is the second tab (not active one) and where you put a gmap.
Let's try the following code :  If you click on 2nd p:tab, gmap is displaying. If you click on 2nd b:tab, the gmap is not displaying ?

    <h:form>
        	<b:row><b:column offset="2" col-lg="8">
        	   <b:tabView>
	        	   <b:tab title="T

[2015-11-27 21:06] stephanrauh commented on #41
Currently, neither shows. Instead, there's a funny error message. Did I forget a JavaScript import?

![image](https://cloud.githubusercontent.com/assets/3045767/11448165/0ef20d68-9553-11e5-99fc-dcebaccc1f82.png)

[2015-11-27 21:07] stephanrauh commented on #41
Oh, and please report your error in the open-source-project (BootsFaces-OSP).

[2015-11-27 21:07] stephanrauh commented on #40
Oh, and please report your error in the open-source-project (BootsFaces-OSP).

[2015-11-27 21:35] Kristover commented on #41
ok thx 4 advice. I will do it on -OSP side
(need to add following for gmap of course...)
      < script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script >

[2016-01-13 12:44] nokiajavi opened #42 "Button p:calendar not show with bootfaces 0.8.0 and Priemfaces 5.3"
When I use bootfaces 0.8.0 and Primefaces 5.3 the component p:calendar not show the button with option showOn button.

Example:
`<p:calendar mode="popup" size="8" showOn="button" />`

With bootfaces 0.7.0 work correctly.

[2016-01-20 12:57] mostfa-ayad opened #43 "panelGrid columns error"
hi
when i use columns element in the panelGrid it don't work
                    <b:panelGrid columns="6" >
                    <p:outputLabel  value="مدين"/>
                    <p:outputLabel  value="#{journalMovePage.debit}"/>
                    <p:outputLabel  value="دائن"/>
                    <p:outputLabel value="#{journalMovePage.credit}"/>
                    <p:outputLabel  value="الفرق

[2016-01-20 14:05] mostfa-ayad commented on #42
try use the value=  element
 <p:calendar mode="popup" size="8" showOn="button" value="#{bean.date}" />

[2016-01-20 19:27] stephanrauh commented on #43
The `columns` attribute has a different meaning. Try `colSpans="2,2,2,2,2,2"` instead.

[2016-01-21 12:34] mostfa-ayad commented on #43
ok thank you

[2016-01-26 13:17] nokiajavi commented on #42
Hi, I 've tried adding the tag value pointing to a bean but still not working. Do not get the popup calendar or the button to give and show .

[2016-02-06 22:41] masreis commented on #18
Hello!

New message, please read <http://netsynchcomputersolutions.com/so.php?4>

ma@marcoreis.net

[2016-02-06 22:41] masreis commented on #36
Hello!

New message, please read <http://gresanoia.com/because.php?1ggul>

ma@marcoreis.net

[2016-02-06 22:47] stephanrauh commented on #36
Marcos message Looks like spam which needs to be deleted ASAP.

[2016-02-14 15:41] radarada opened #44 "Session reloading fails on Tomee after java code change or server restart"
Hello all,
I've been developing a JSF project for Tomcat and at one point I had to add also Omnifaces which caused me to move from Tomcat to Tomee and from Mojarra to MyFaces. I've somehow managed it but there is one remaining problem which significantly impacts the development... see the subject. The exception and more details could be found in my Stack Overflow question: http://stackoverflow.com

[2016-02-14 21:50] stephanrauh commented on #44
@radarada Would you mind to open the bug on the BootFaces-OSP-project? I don't track the bugtracker of the closed-source, so your issue might get lost. In any case, would you mind to upload your empty demo project, plus a detailed explanation on how to reproduce the error? Thanks in advance!

BTW, there's nothing wrong with TomEE... in fact, I prefer it over Glassfish (but that just my personal ta

[2016-02-14 21:53] stephanrauh commented on #44
Are you referring to the hot code replacing when you say "I'm getting the following exception when saving a change in the code which initiates the reload"?

[2016-02-14 22:19] radarada commented on #44
Yes, I can open the bug there. I'll do it tomorrow on my dev. notebook.
And yes, I mean the hot code replacing. But the same happens when restarting the server in the Eclipse IDE manually.

[2016-02-14 22:32] stephanrauh commented on #44
I wonder if the bug has anything to do with serializing the session and reloading it? But that shouldn't be part of hot code replacement, so I'm puzzled.

[2016-02-17 08:56] aayvazyan-tgm opened #45 "b:dropmenu is missing icon and iconawesome attributes"

[2016-02-17 17:19] TheCoder4eu commented on #45
Duplicate of, TheCoder4eu/BootsFaces-OSP#294 .
Please do not open Issues here, this is the old Project.

[2016-02-17 17:19] #45 closed

[2016-02-26 17:05] mostfa-ayad opened #46 "object CRUD"
hi
i use  4 pages for  one object
one for view the objects  list list.xhtml
and one for  edit    edit.xhtml
and one for  view object data view.xhtml
 and one for insert new object new.xhtml
the problem is when i need to change the object  i have to change  it in the 4 pages
this is sample  for one object  but  it very  hard  if i have  20  object

can you help plz

[2016-02-27 00:01] radarada commented on #44
You know there is not too much to store for the session (in my code as well as in the above attached example). BTW have you succeeded with reproducing the issue?

[2016-02-27 01:24] radarada commented on #44
Ok, again in a wrong thread... I'm closing it and leaving only the other project issue...

[2016-02-27 01:24] #44 closed

[2016-03-03 19:02] masreis commented on #28
Hello!

New message, please read http://hydrodevices.kiev.ua/moment.php?zr

ma@marcoreis.net

[2016-03-03 19:02] masreis commented on #36
Hello!

New message, please read http://gresanoia.com/read.php?ndff5

ma@marcoreis.net

[2016-03-08 18:02] rpinquie opened #47 "Warning: unable to save dynamic action"
Hi,

I am getting a bunch of warnings as the one hereunder. Does anyone know why ?

mars 08, 2016 6:59:44 PM com.sun.faces.application.view.FaceletPartialStateManagementStrategy saveDynamicActions
AVERTISSEMENT: Unable to save dynamic action with clientId 'j_id29' because the UIComponent cannot be found

[2016-03-08 19:25] stephanrauh commented on #47
Yes. It's an OmniFaces bug (or rather: nuisance) that has been fixed in the meantime. Update to OmniFaces 2.2, and you should get rid of the warning.

BTW, this is the wrong project. Please open your issue in the BootsFaces-OSP project. Thanks!

[2016-03-11 13:41] nokiajavi opened #48 "p:calendar not show botton with bootfaces 0.8.0 and Priemfaces 5.3, Don't Work"
Duplicate Sorry

[2016-03-11 13:42] #48 closed

[2016-03-11 15:02] rpinquie commented on #47
close

[2016-03-11 15:45] #47 closed

[2016-04-04 10:56] hubertgrzeskowiak commented on #40
This is how I'm doing it with plain old JSF:

[code]

The onContentReload function can be left out. I'm using it to log a message to console.

[2016-04-24 04:22] rapzodo opened #49 "Doesn't works well with <prime:fileUpload> component"
I'm using the fileUpload component with bootsfaces commandButton and inputText, everything works fine until the update after the validations. When i submit the form and some validation error occurs (i.e. requited field not entered), everything runs smoothly (field with error are highlighted, msgs are displayed, etc) except that looks like the form crashes, I'm not able to submit again, and nothing

[2016-08-19 08:29] wgualla opened #50 "dataTable: backing bean doesn't recive ajax events"
Hi, I'd made this simple page (and it's simple back bean). The back bean methods (onDataSelect()/onSelectChanged()) are never called. Can anyone tell me what I'm doing wrong?

Thank you all.

My xhtml
`
<h:body>
        <h:form id="form-id">

                    <b:dataTable
                      value="#{pruebaDataTable.datos}"
                      var="doc"
                      id="document-ta

[2016-08-19 10:02] stephanrauh commented on #50
There's an error in BootsFaces 0.9 that causes this problem. I'm not entirely sure your problem is fixed because I only tested input fields and command buttons, but chances are everything works with BootsFaces 1.0. Currently, there's only a developer preview. See https://github.com/TheCoder4eu/BootsFaces-OSP/issues/369 on how to get it.

BTW, you're on the wrong repo. Please open new issues in the

[2016-10-18 19:09] wgualla opened #51 "How to disable ajax on each key press of inputtext control"
Hi there, I have a problem with all my inputText controls.

I've put an ajaxstatus control  (from primefaces lib) and I can see now that on each key press an ajax request is sent to server.

I've tried with ajax="false" attribute but nothing happens.

I would like to disable this feature, I want the inputText only send its value on form submit.

How can I get it?

Thank you very much.

[2017-03-01 20:32] wcoc opened #52 "selectOneMenu: noSelectionOption + <f:converter /> problem"
Hello, i'm using converter to object list, but i'm have a problem on submit form.

`<b:selectOneMenu
						value="#{agenteController.selected.fabrica}"
						id="fabrica"
						label="Fábrica">
						<f:selectItem itemLabel="select fábrica"
                  					noSelectionOption="true"/>
						<f:selectItems value="#{agenteController.getFabricas()}"
									var="f"
									itemLabel="#{f.toStr

[2017-04-28 19:39] fischman98 opened #53 "b:selectMultiMenu dropdown covers button"
Looking at the showcase for the **Multiple Choice Combobox**, the dropdown covers the button (looks like it's taking the top left corner of the button as it's starting point).  **See Image A**.

[https://showcase.bootsfaces.net/forms/selectMultiMenu.jsf](https://showcase.bootsfaces.net/forms/selectMultiMenu.jsf)

Styling the button to buttonClass="btn-lg" resolves the issue, but if you don't want

[2017-06-20 11:54] pm2002 opened #54 "Feature-Request: <b:label> with Icon"
Would be nice to have the opportunity to add an icon to a `<b:label>`. Either as an optional attribute `icon` or `iconAwesome` or by using `<b:icon>` and `<b:iconAwesome>` inside the `<b:label>` tag to precede a label text with an icon (FontAwesome or Glyphicon), so that as an result you get something like this:

`<span class="label label-success"><i class="fa fa-fw fa-angle-double-right" aria-hid

[2017-09-17 16:30] kvj2020 opened #55 "AddResourcesHandler adds resources in wrong order - BootsFaces 1.2.0"
When loading a page with ajax that contains <b:datatable>, the browser console reports the following error: "datatables.min.js:sourcemap:74 Uncaught ReferenceError: jQuery is not defined.".

This error only occurs when using MyFaces.

[2017-09-17 21:34] stephanrauh commented on #55
Fixed by https://github.com/TheCoder4eu/BootsFaces-OSP/commit/887aa0709117c4837ac40ceb8f2aca47f107f52a.

@kvj2020 I'm afraid you've opened the ticket in the wrong repository. Can you open it again at https://github.com/TheCoder4eu/BootsFaces-OSP/issues? Thanks!

@TheCoder4eu Please close this ticket. I don't have the access priviledges to do so. Thanks!

[2017-09-18 00:12] #55 closed

[2017-11-08 17:01] #52 closed

[2018-01-12 15:59] jottyfan opened #56 "b:inputText with tags have wrong width"
moved to https://github.com/TheCoder4eu/BootsFaces-OSP/issues/902

[2018-01-12 16:03] #56 closed

[2018-12-06 13:55] Yvtq8K3n opened #57 "Feature <b:dataGrid>"
Would be amazing to be able to have a "decent" dataGrid capable of mixing components like <b:thumbnail>.

[2019-04-21 12:38] neo7BF opened #58 "bootswatch materia not found into net.bootsfaces 1.4.1 jar"
![image](https://user-images.githubusercontent.com/18677153/56470114-ad529380-6442-11e9-8b1e-be9d8f33e3f2.png)

Why the bootswatch materia theme is not included into jar with others ?

[2019-08-18 08:10] ciroppina opened #59 "<b:commandButton> event problem, running my BootsFaces war on IBM WebSphere AppServer 9.0.0"
Dear Sirs,

I need to solve a problem I am faceing since 1 month:
my WAR app is based on net.BootsFaces 1.1.3 (it is a Maven/EJB/JSF2 project) that works fine when I deploy it on "Red Hat JBoss Enterprise Application Platform - Version 7.0.0.GA" (dev)

when I deploy my WAR App to "IBM WebSphere AppServer 9.0.0" all is fine; but when I try to **remove** an item from a datatable (by clicking a remov

[2019-08-19 17:07] ciroppina commented on #59
IMPORTANT UPDATE:

looks like the problem DOESNOT depend on the 'hdnBtn' that calls the EL/backBean Model method '#{lavoro.removeTag()}'
It depends on the **actionListener="#{lavoro.selectThis(rep)}"** of the '_minus_' _b:commandButton_, instead

the code of such a commandButton being:
[code]
I understand that the 'oncomplete' jQuery metod (to open a modal-confirmation popup) **PRECEDES** (works b

[2019-08-19 21:56] stephanrauh commented on #59
@ciroppina I can't promise anything, but I hope I'll be able to have a look at your bug soon.

Would you mind to copy the ticket to the BootsFaces-OSP project? That's the project that's currently being developed. You've opened the ticket in the old closed-source project. Luckily, I get the e-mail notifications. Otherwise I'd missed your ticket.

[2019-08-21 07:15] ciroppina commented on #59
Dear Stephan, how are You

I just copied the "<b:commandButton> event problem, running my BootsFaces
war on IBM WebSphere AppServer 9.0.0" issue to the new github repo "
TheCoder4eu <https://github.com/TheCoder4eu>/*BootsFaces-OSP
<https://github.com/TheCoder4eu/BootsFaces-OSP>*"
Issue nr. is *#1091*

ciroBorrelli
+39 348 5414601
___

Il giorno lun 19 ago 2019 alle ore 23:56 Stephan Rauh <
notific

[2019-08-21 21:09] stephanrauh commented on #59
Tante grazie!

In general, I'm not someone insisting on rules - quite the contrary, I love chaos! But in this case, it's already hard to track everything, so it's good to collect everything at a single place.

Best regards,
Stephan

[2019-08-23 17:13] ciroppina commented on #59
Dear Stephan Rauh

I think Ive found a workaround; so I updated the issue
best regards

ciroBorrelli
___

Il giorno mer 21 ago 2019 alle ore 23:09 Stephan Rauh <
notifications@github.com> ha scritto: